<div class="K F color" id="fU" style="width: 862px;">
    <div class="y Q">
        <div class="C A" id="hW" style="width: 422px;">String is empty</div>
        <div class="C B" id="kZ">&nbsp;</div>
    </div>
    <div class="z L" style="height: 828px;">
        <div class="E" id="dS">
            <div class="C A" style="width: 422px;">
                <div class="w">
                    <div class="P" id="iX"></div>
                </div>
            </div>
            <div class="C B" style="width: 421px;">
                <div class="w D">
                    <div class="P" id="lA"></div>
                </div>
            </div>
        </div>
    </div>
</div>